
<div style="display:flex; width:50vw; height:100vh;">

<f-flow fDraggable>

    <f-background>
    <f-circle-pattern></f-circle-pattern>
  </f-background>

  <f-canvas fZoom fPan style="width: 100%; height: 100vh;">
    <!-- Connections -->
  <f-connection
  *ngFor="let edge of connections"
  [fOutputId]="edge.from"
  [fInputId]="edge.to">
<svg viewBox="0 0 700 700" fMarker [type]="eMarkerType.END" [height]="5" [width]="5" [refX]="4" [refY]="2.5">
        <path fill="var(--connection-gradient-2)" d="M0,0L700,350L0,700L150,350z"/>
      </svg>
 
</f-connection>

    <!-- Nodes -->
    <div *ngFor="let node of nodes"
     fNode
     fDragHandle
     fNodeInput
     [fInputId]="node.id"
     fInputConnectableSide="top"
     fNodeOutput
     [fOutputId]="node.id"
     fOutputConnectableSide="bottom"
     [fNodePosition]="{ x: node.x, y: node.y }"
    matTooltip="{{ node.label }} (ID: {{ node.id }})" 
    matTooltipPosition="right" 
     
     style="position: relative;width: 200px; height: 50px;  border-top: 5px solid #7ada69; text-align: center; line-height: 50px; border-radius: 6px; cursor: pointer;">
  {{ node.label }}
  <span style="position: absolute; left :95%" matTooltip="{{ node.label }} (ID: {{ node.id }})" >✅</span>
</div>
  </f-canvas>
</f-flow>

<div>
  <app-side-by-side-table [obj1]="ob1" [obj2]="ob2"></app-side-by-side-table>
</div>

</div>