@use "../flow-common";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


::ng-deep f-flow {
  @include flow-common.connection;
}
.f-node {
  @include flow-common.node;
}


// ::ng-deep svg line {
//   marker-end: url(#arrow);
// }

// /* Optional line styling */
// ::ng-deep svg line {
//   stroke: #cf1818;
//   stroke-width: 2px;
// }
.item {
  position: relative;
  padding: 10px;
  margin: 10px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: #f2f2f2;
}

.item.selected {
  border: 2px solid blue;
  background-color: #e6f0ff;
}

.close-btn {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 14px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  cursor: pointer;
}